<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left">Sub Categories </div>
</div>-->
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div>

                <button class="btn btn-primary buttonCus" style="margin: 0 20px 0px 0px;" data-toggle="modal" data-target="#addSubCategory">Add</button>



            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 8%;text-align: center">#</th>
                                    <th style="width: 21%;text-align: center">Image</th>

                                    <th style="width: 44%;text-align: center">
                                        Title
                                    </th>
                                    <th style="width: 14%;text-align: center">Re-order</th>
                                    <th style="width: 30%;text-align: center">
                                        Field Count
                                    </th>
                                    <th style="width: 20%;text-align: center" class="thAction">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="10">No data found</td>
                                </tr>
                                <tr *ngFor="let subcate of subCategory | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td *ngIf="subcate.imageUrl">
                                        <img src={{subcate.imageUrl}} alt="500*500" style="width: 30%;" class="img-responsive">
                                    </td>
                                    <td *ngIf="!subcate.imageUrl">
                                        <img src="assets/img/users/noImage.png" alt="500*500" style="width: 30%;" class="img-responsive">
                                    </td>
                                    <td>{{subcate.subCategoryName}}</td>
                                    <td>
                                        <div class="btn-hover" *ngIf="i == 0">
                                            <button class="button-cust" style="padding-left: 0px;padding-right: 0px;" type="button" disabled>
                                                <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                            </button>
                                        </div>
                                        <div class="btn-hover" *ngIf="i != 0">
                                            <button class="button-cust" style="cursor: pointer;padding-left: 0px;padding-right: 0px;" type="button" (click)="gotoUpArrow(i)">
                                                <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                            </button>
                                        </div>
                                        <div class="btn-hover" *ngIf="i == subCategory.length - 1">
                                            <button class="button-cust" style="padding-left: 0px;padding-right: 0px;" type="button" disabled>
                                                <span class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                            </button>
                                        </div>
                                        <div class="btn-hover" *ngIf="i != subCategory.length - 1">
                                            <button class="button-cust" style="cursor: pointer;padding-left: 0px;padding-right: 0px;" type="button" (click)="gotoDownArrow(i)">
                                                <span class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                            </button>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoField(subcate.subCategoryName)">{{subcate.fieldCount}}</button>
                                    </td>
                                    <td *ngIf="btnFlag">
                                        <div class="btn-hover">
                                            <button data-toggle="modal" data-target="#delete-modal" class="btn btn-danger btn-xs" (click)="gotoDeleteSubcate(subcate.subCategoryName,subcate.imageUrl)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>

                                        <div class="btn-hover">
                                            <button data-toggle="modal" data-target="#editSubCategory" class="btn btn-primary btn-xs" (click)="gotoeditSubcategory(subcate)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addSubCategory" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <div class="modal-dialog" role="document" style="top: -33%;">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Add subCategory
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addSubCategory" (ngSubmit)="submitForm(addSubCategory)">
                <div class="modal-body">
                    <div class="col-8 offset-2">
                        <div id="upImg" style="color: red;text-align: center;">Please Select Small Size Image</div>
                        <div class="form-group col-xs-12">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8 offset-2">
                                <div class="form-group col-xs-12" style="margin-bottom: 0px;">
                                    <div class="image-wrapper" style="text-align: center;">
                                        <i *ngIf="image" class="fa fa-times delete-img" (click)="removeImage()"></i>
                                        <img [attr.src]="image" *ngIf="image" width="100%" style="height: 65px;width: 29%;">
                                        <img src="assets/img/app/no-image.png" *ngIf="!image" width="100%" style="height: 65px;width: 29%;">
                                    </div>
                                    <input type="file" (change)="fileChange(input)" #input class="img-upload-btn" />

                                    <button class="btn btn-main btn-block" type="button">
                                        <span *ngIf="!image">
                                            <i class="fa fa-upload"></i> Select Active Image... </span>
                                        <span *ngIf="image">
                                            <i class="fa fa-refresh"></i> Change Active Image... </span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div class="col-xs-12" style="text-align: center;padding: 0 0 3% 0;">
                            <mark style="background-color: yellow;">Please select small size image and Dimension is maximum 600*600</mark>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-lg-3" style="padding: 4px 0px 0px 45px;">Name:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter sub Category" [formControl]="addSubCategory.controls['subCategoryName']"
                                [ngModel]="addSubCategory.subCategoryName">
                            <div *ngIf="addSubCategory.controls['subCategoryName'].errors && (addSubCategory.controls['subCategoryName'].dirty || addSubCategory.controls['subCategoryName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addSubCategory.controls['subCategoryName'].errors.required">
                                    subCategory Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12" *ngFor="let dd of langData">
                        <label for="input-2" class="col-lg-3" style="padding: 4px 0px 0px 45px;">Name: ({{dd.langaugeName}})</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter sub Categoryin {{dd.langaugeName}}" required [ngClass]="'addSub'+dd.langId">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!addSubCategory.valid">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editSubCategory" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <div class="modal-dialog" role="document" style="top: -33%;">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Edit subCategory
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editSubCategory" (ngSubmit)="updatecategory(editSubCategory)">
                <div class="modal-body">
                    <div class="col-8 offset-2">
                        <div id="upImge" style="color: red;text-align: center;">Please Select Small Size Image</div>
                        <div class="col-xs-12" style="text-align: center;">
                            <mark style="background-color: yellow;">Please select small size image and Dimension is maximum 600*600</mark>
                        </div>
                        <div class="col-xs-3"></div>
                        <div class="form-group col-xs-6">
                            <div class="image-wrapper" style="text-align: center;">
                                <i *ngIf="image" class="fa fa-times delete-img" (click)="removeImage()"></i>
                                <img [attr.src]="image" *ngIf="image" width="100%" style="height: 65px;width: 29%;">
                                <img src="assets/img/app/no-image.png" *ngIf="!image" width="100%" style="height: 65px;width: 29%;">
                            </div>
                            <input type="file" (change)="fileChange(input1)" #input1 class="img-upload-btn" />

                            <button class="btn btn-main btn-block" type="button">
                                <span *ngIf="!image">
                                    <i class="fa fa-upload"></i> Select Active Image... </span>
                                <span *ngIf="image">
                                    <i class="fa fa-refresh"></i> Change Active Image... </span>
                            </button>
                        </div>
                        <div class="col-xs-3"></div>

                    </div>
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-lg-3" style="padding: 4px 0px 0px 45px;">Name:</label>
                        <div class="col-lg-9">
                            <input type="text" id="newSubcat" class="form-control checking-field" placeholder="Enter subCategory" [formControl]="editSubCategory.controls['subCategoryName']"
                                [(ngModel)]="editSubCategory.subCategoryName">
                            <div *ngIf="editSubCategory.controls['subCategoryName'].errors && (editSubCategory.controls['subCategoryName'].dirty || editSubCategory.controls['subCategoryName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editSubCategory.controls['subCategoryName'].errors.required">
                                    subCategoryName is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required col-xs-12" *ngFor="let dd of langData">
                        <label for="input-2" class="col-lg-3" style="padding: 4px 0px 0px 45px;">Name: ({{dd.langaugeName}})</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control checking-field subXyz" placeholder="Enter sub Categoryin {{dd.langaugeName}}" required
                                [ngClass]="'editSub'+dd.langId">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!editSubCategory.valid">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>